<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="static/css/style.css"></script>
  </head>
<body>
  <header class="text-gray-600 body-font bg-gray-100">
    
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="navbar-brand" href="{{url_for('admin_dashboard')}}" style="font-weight: bold;font-size:15pt">Music Streaming App</a>
      
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 text-red-500">
          {%if nav=="admin_dashboard"%}
            <code>{{user.uname}}'s Dashboard</code>
          {%elif nav=="login"%}
            <code>User's Login</code>
          {%elif nav=="tracks"%}
            <code>Genre Tracks</code>
          {%elif nav=="admin_all_tracks"%}
            <code>All Tracks</code>
          {%elif nav=="admin_albums"%}
            <code>Albums</code>
          {%elif nav=="admin_album_allsongs"%}
            <code>Album's Songs</code>
          {%elif nav=="admin_creator_management"%}
            <code>Creators Management</code>
          
          {%else%}
            <code>Login/Sign Up</code>

          {%endif%}
        </a>
      </nav>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        {%if nav=="login"%}
          <a class="mr-5 hover:text-gray-900" href="{{url_for('login_admin')}}">Admin Login</a>

        {%elif nav=="admin_login"%}
          <a class="mr-5 hover:text-gray-900" href="{{url_for('login')}}">User Login</a>

        {%elif nav=="admin_dashboard"%}
          <a class="mr-5 hover:text-gray-900" href="{{url_for('tracks')}}">Tracks</a>
          <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_albums')}}">Albums</a>
          <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_creator_management')}}">Creators</a>
          <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>
          
        
        {%elif nav=="tracks"%}
        <a class="mr-5 hover:text-gray-900" href="{{url_for('admin_dashboard')}}">Dashboard</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_albums')}}">Albums</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_creator_management')}}">Creators</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>
        
        {%elif nav=="admin_all_tracks"%}
        <a class="mr-5 hover:text-gray-900" href="{{url_for('admin_dashboard')}}">Dashboard</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('tracks')}}">Tracks</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_albums')}}">Albums</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_creator_management')}}">Creators</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>

        {%elif nav=="admin_albums"%}
        <a class="mr-5 hover:text-gray-900" href="{{url_for('admin_dashboard')}}">Dashboard</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('tracks')}}">Tracks</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_creator_management')}}">Creators</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>

        {%elif nav=="admin_album_allsongs"%}
        <a class="mr-5 hover:text-gray-900" href="{{url_for('admin_dashboard')}}">Dashboard</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('tracks')}}">Tracks</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_albums')}}">Albums</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_creator_management')}}">Creators</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>

        {%elif nav=="admin_creator_management"%}
        <a class="mr-5 hover:text-gray-900" href="{{url_for('admin_dashboard')}}">Dashboard</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('tracks')}}">Tracks</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('admin_albums')}}">Albums</a>
        <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>

        {%else%}
          <a class="mr-5 hover:text-gray-900" href="{{url_for('login')}}">User</a>
          <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('login_admin')}}">Admin</a>
          <a class="mr-5 hover:text-gray-900 md:pl-4 md:border-l md:border-gray-400" href="{{url_for('logout')}}">Logout</a>
        {%endif%}
        
      </nav>
    </div>
  </header>
</body>
</html>
